<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>SB Admin 2 - Tables</title>

    <th:block th:replace="layouts/management/head_links/head_links::news"/>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <th:block th:replace="layouts/management/right_side_bar/sidebar::sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <th:block th:replace="layouts/management/head_nav/top_nav::topnav"/>

            <!-- Begin Page Content -->

                <th:block th:replace="layouts/management/data_table/data_table::table(title)"/> <!-- title là tên bảng-->

            <!-- .container-fluid -->

        </div>
        <!-- End of Main Content -->

        <th:block th:replace="layouts/management/footer/footer::footer"/>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="layouts/management/scripts/scripts::neccessary"/>
<th:block th:replace="layouts/management/scripts/scripts::datatable"/>

<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

</script>

</body>

</html>